.form-group {
 display: flex;
 justify-content: space-between;
 flex-direction: column;
 margin-bottom: 1rem;
}

.form {
  width: 60%;
  margin: 0 auto;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.form-input {
  border: 3px solid black;
  border-radius: 6px;
  font-size: 1.5em;
  height: 2rem;
}
